.InputBox{
    width: 80%;
   }
   .datereceived{
    width: 80%;
   }

   .accountcode{
    width: 80%;
   }

   .expdate{
    width: 80%;
   }
    
   .supplier{
    width: 80%;
   }

   .unit{
    width: 80%;
   }
   .date{
    width: 80%;
   }
   .dept{
    width: 80%;
   }
   .qty{
   width: 80%; 
   }
   .usage{
    width: 80%;
   }


   #save{
    background-color: #97D077;
    margin-right: 260px;
   }

   #cancel{
    background-color: #D5739D;
   }

   #save1{
    background-color: #97D077;
   }

   #cancel1{
    background-color: #D5739D;
   }

.modal-dialog{
      width: 1100px;

    }
